/*
 * Colors
 * http://clrs.cc/
 */
:root {
  --color-black: #333333;
  --color-lighter-gray: #f6f6f6;
  --color-light-gray: #dddddd;
  --color-dark-gray: #666666;
  --color-blue: #0074d9;
  --color-red: #ff4136;
  --color-white: #ffffff;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

:focus {
  outline: calc(2rem/16) solid var(--color-blue);
  outline-offset: calc(2rem/16);
}

[hidden] {
  display: none !important;
}

html {
  background-color: var(--color-lighter-gray);
}

body {
  color: var(--color-black);
  font-size: 100%;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

header[role="banner"] {
  background-color: var(--color-black);
}

header[role="banner"] a {
  color: var(--color-white);
}

.content {
  font-size: calc(18rem/16);
  line-height: calc(28rem/16);
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 0;
}

p {
  margin: 1rem 0 0;
}

ol,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0 0;
}

dt {
  font-weight: bold;
  margin-top: 1rem;
}

small {
  color: var(--color-dark-gray);
  display: block;
  font-weight: normal;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="text"] {
  border: calc(2rem/16) solid var(--color-light-gray);
  border-radius: 0.25rem;
  line-height: inherit;
  margin-top: 0.5rem;
  max-width: 12rem;
  padding: 0.5rem;
  width: 100%;
}

input:focus {
  border-color: var(--color-blue);
  outline: none;
}

input[type="email"]:disabled,
input[type="text"]:disabled {
  color: var(--color-dark-gray);
}

button,
.button {
  background-color: var(--color-white);
  border-radius: 0.25rem;
  border-style: solid;
  border: calc(2rem/16) solid var(--color-light-gray);
  color: var(--color-black);
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-weight: bold;
  height: calc(40rem/16);
  line-height: inherit;
  margin: 0;
  padding: 0 0.75rem;
  text-decoration: none;
}

button:hover:not(:disabled),
.button:hover:not(:disabled) {
  background-color: var(--color-lighter-gray);
}

button:active,
.button:active {
  background-color: var(--color-light-gray);
}

button:disabled,
.button:disabled {
  color: var(--color-dark-gray);
  cursor: default;
}

.button--icon {
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  justify-content: center;
  padding: 0;
  width: calc(40rem/16);
}

.button--icon:hover {
  background-color: var(--color-light-gray);
  border-color: transparent;
}

.button--icon:active {
  border-color: transparent;
}

button:not(.link):focus,
.button:focus {
  border-color: var(--color-blue);
  outline: none;
}

button[role="switch"] {
  align-items: center;
  background-color: var(--color-light-gray);
  color: transparent;
  display: flex;
  padding: 0 calc(6rem/16);
}

button[role="switch"] [data-checked] {
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

button[role="switch"][aria-checked="true"] [data-checked="true"],
button[role="switch"][aria-checked="false"] [data-checked="false"] {
  background-color: var(--color-white);
  color: var(--color-black);
}

.link {
  background-color: transparent;
  border: none;
  color: var(--color-blue);
  font-weight: normal;
  height: auto;
  padding: 0;
  text-decoration: underline;
}

.link:active {
  background-color: transparent;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"] + label [data-checkbox] {
  background-color: var(--color-white);
  border: calc(2rem/16) solid var(--color-light-gray);
  border-radius: 0.25rem;
  box-sizing: content-box;
  border-radius: 0.25rem;
  color: transparent;
  margin-right: 0.75rem;
}

input[type="checkbox"]:hover + label [data-checkbox] {
  background-color: var(--color-lighter-gray);
}

input[type="checkbox"]:focus + label [data-checkbox] {
  border-color: var(--color-blue);
}

input[type="checkbox"]:active + label [data-checkbox] {
  background-color: var(--color-light-gray);
  border-color: var(--color-blue);
}

input[type="checkbox"]:checked + label [data-checkbox] {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

input[type="checkbox"]:checked:focus + label [data-checkbox] {
  border-color: var(--color-blue);
}

input[type="checkbox"]:checked:active + label [data-checkbox] {
  border-color: var(--color-blue);
  color: var(--color-light-gray);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

hr {
  border-color: var(--color-light-gray);
  border-style: solid;
  border-width: calc(2rem/16) 0 0;
  margin: var(--space-4) 0;
}

.box:not(:empty) {
  background-color: var(--color-white);
  border: calc(1rem/16) solid var(--color-light-gray);
  border-radius: 0.25rem;
  list-style-type: none;
  margin-top: 1rem;
}

.box__row {
  padding: 1rem;
  margin: 0;
}

.box__row + .box__row {
  border-top: calc(1rem/16) solid var(--color-light-gray);
}

.field__required {
  color: var(--color-red);
}

.field__optional {
  color: var(--color-dark-gray);
  font-weight: normal;
}

.field__error {
  color: var(--color-red);
  font-size: 1rem;
  line-height: calc(24rem/16);
}

.error-summary {
  background-color: var(--color-white);
  border: calc(4rem/16) solid var(--color-red);
  padding: var(--space-2);
}

.plain-list {
  list-style-type: none;
}

/*
 * Custom elements
 */

rui-icon {
  --size: 1.5rem;
  display: flex;
  fill: none;
  height: var(--size);
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: var(--size);
}

/*
 * Utilities
 */

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
}

.flex--gap-1 > :not(:last-child) {
  margin-right: var(--space-1);
}

.flex--gap-2 > :not(:last-child) {
  margin-right: var(--space-2);
}

.flex--gap-3 > :not(:last-child) {
  margin-right: var(--space-3);
}

.flex--gap-4 > :not(:last-child) {
  margin-right: var(--space-4);
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.m-none {
  margin: 0;
}

.m-top-1 {
  margin-top: var(--space-1);
}

.m-top-2 {
  margin-top: var(--space-2);
}

.m-top-3 {
  margin-top: var(--space-3);
}

.m-top-4 {
  margin-top: var(--space-4);
}

.width-sm {
  max-width: 20rem;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
