:root {
  --color-black: #333333;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

body {
  color: var(--color-black);
  font-size: 100%;
  font-family: system-ui, sans-serif;
  padding: 2rem;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}
